.Pasa-por-encima{
  position: relative;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 20px;
  border: nome;
  cursor: pointer;
}
.Pasa-por-encima:hover{
  background-color: #fff;
  color: #4caf50;
}
.Pasa-por-encima:hover span{
  color: #fff;
}
.Pasa-por-encima:hover span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
}
.Pasa-por-encima:hover::before{
  content: "¡Hecho!";
}

  
